# I went through Mike Cohen's scientific python course
# (modified from the original) and will walk you through it -- or you can sign up here:
https://www.udemy.com/course/python-scientific-x/learn/lecture/21804570#overview

In [ ]:
# a tuple is an immutable list -- lists are mutable (they can change vales aftyer assignment)

aList  = [ 3,4,'6' ]
atuple = ( 3,'4',45 )

print(aList)

aList[0] = 6 # the zero indicates the index number index order starts with 0 [ 0, 1, 2, 3] 0 1st, 1 2nd, 2 , so on
print(aList)

atuple[1] = 9 # the only way to mod would be change all elements ie. atuple = ( 6,'9',7 ) cant do just 1 element
print(atuple)

[3, 4, '6']
[6, 4, '6']

TypeError: ignored

In [ ]:
# above we see that the 0 index space was changed to a 6 but the tuple failed - not mutable!
# but... we can convert the list similar to the conversions we did like str and float to change data types
print(type(atuple))
print(type( list(atuple) ))

<class 'tuple'>
<class 'list'>

In [ ]:
# now lets create a new variable to execute the mutability of our new convert tuple --> a list
newConvertedList = list(atuple)
newConvertedList[0] = 7
print(newConvertedList)

[7, '4', 45]