In [6]:
# Boolean or logical --- true false --- one or the other

boolTrue = True # actual boolean value
strTrue  = 'True' # a string value of the string True

%whos # we can compare the data types for ourselves to forecast our answer ** check the data types

boolTrue == strTrue # we can use the "is it equal?" aka == to compare the 2 values ** not an assignment like =

No variables match your requested type.

False

In [9]:
4 == 4 # we see that when we compare 4 to 4 -- we see that it is True

True

In [10]:
# even more comparison methods
4 > 5

False

In [12]:
# less than or equal to  --- one or the other instance >=
4 <= 5

True

In [13]:
4 != 5 # does not equal

True

In [18]:
a = 8
b = 4

outcome = a == b * 2
outcome

True

In [20]:
# conjunctive comparisons
14>5 and 7<10 # both have to be true to be true

True

In [21]:
14>5 and 7>10

False

In [23]:
16<4 or 8==8 # only one has to be true to be true - false only when both false

True

In [25]:
# how to convert data types to a boolean
bool(0) # zero is the only number that gets converted to false -- all other numbers return true

False

In [27]:
bool(-10)

True

In [30]:
bool(45897345.098934673423462467)

True

In [31]:
# you get the idea
# now string values -- similar to numbers
bool('flowmasterB is so cool.')

True

In [32]:
bool('Nickelback sucks!') ## anything inputed down to the minimal of one space ** an empty will return

True

In [33]:
bool(' ') # there is a space

True

In [35]:
bool('') # no space -- considered a non value, nil, naught, null, void ... what have you

False

In [40]:
# Exercise
# Ask the user for input and test whether it is a real triplet or not.
# 3,4,5  5,12,13  answer must be true or false i.e return user's answer with "Your answer is True/False"
# 3 consectutive positive integers such that a**2 + b**2 = c**2

# 1st - print instructions to user
print("Please choose a pythagorean triplet series")

# 2nd - collect the input from the user

a = float(input('Please input length of a: '))
b = float(input('Please input length of b: '))
c = float(input('Please input length of c: '))

# 3rd give user some additional info
print('I will tell you if you are correct or not')
print( '' )

# 4th -- run a comparison on the collected user input
isATriplet = a**2 + b**2 == c**2

# 5th - return the result of the comparison as a boolean value
print('Your answer is ' + str(isATriplet) + '!!')

Please choose a pythagorean triplet series
Please input length of a: 3
Please input length of b: 4
Please input length of c: 5
I will tell you if you are correct or not

Your answer is True!!