<a href="https://colab.research.google.com/github/flowmasterB/scientificPython/blob/main/04_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# I went through Mike Cohen's scientific python course
# (modified from the original) and will walk you through it -- or you can sign up here:
https://www.udemy.com/course/python-scientific-x/learn/lecture/21804570#overview

In [33]:
# Dictionary
D = dict()
D

{}

In [34]:
# key value pair
D['name'] = 'Baker'
D['AgeRange'] = [45,60]

D

{'name': 'Baker', 'AgeRange': [45, 60]}

In [35]:
E = { 'name':'Baker', 'AgeRange': '[45, 60]' } # another way to create dictionary

E

{'name': 'Baker', 'AgeRange': '[45, 60]'}

In [36]:
# get data from dictionary
D['name']

'Baker'

In [37]:
D.keys() # display our keys

dict_keys(['name', 'AgeRange'])

In [38]:
'name' in D # it is a key value returns True

True

In [39]:
'Baker' not in D # this value is not there it is not a key value

True

In [40]:
D.values() # displays the values

dict_values(['Baker', [45, 60]])

In [41]:
D.items()

dict_items([('name', 'Baker'), ('AgeRange', [45, 60])])

In [83]:
# Exercise: user inputs 2 numbers and you return the product all using a dictionary
# using key pairs of 'firstNum', 'secondNum', and 'product' -- the answer is below

















del D # rids earlier value up to this point

D = dict()

num1 = float( input('Please provide one number: ') )
D['firstNum'] = num1

num2 = float( input('Please provide another number: ') )
D['secondNum'] = num2

D['product'] = num1*num2

D.items()

Please provide one number: 6792346
Please provide another number: 612345

dict_items([('firstNum', 6792346.0), ('secondNum', 612345.0), ('product', 4159259111370.0)])